
:root{
    --card-shadow:#0e1015;
    --card-primary:	cornflowerblue;
    --card-secondary:#364155;
}

.main {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}
.col-left{
    width: 75%;
}
.col-right{
    width: 25%;
}

/* cadetblue
    coral
   cornflowerblue 
*/
.Search {
    margin-left: 5rem;
    margin-left: 5rem;
}

.container-flex {
    width: auto;
    display: flex;

}

.container-block {
    text-align: center;
    margin-right: auto;
    margin-right: left;
    display: block;
}

/* CARD */
.Card-Main {
	background: var(--card-primary);
	width: 250px;
	height: 300px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
}

.Card-Main span {
    font-size: 100px;
}

.Card-Main  p:nth-of-type(1) {
    color:white;
    margin: 15px 0px 0px 0px;
    font-size: 50px;
}
.Card-Main  p:nth-of-type(2) {
    color:white;
    margin: 15px 0px 0px 0px;
    font-size: 20px;
}
.Card-Main  p:nth-of-type(3) {
    margin: 15px 0px 0px 0px;
    color:white;
}
sup {
 font-size:30px;
} 

/* #414d6a */

/*Card shadow*/
.Card-Shadow-1 {
    z-index: -1;
	background: #414d6a;
    width: 250px;
	height: 300px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
}

.Card-Shadow-2 {
    z-index: -2;
	background: var(--card-shadow);
    width: 250px;
	height: 300px;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
}

.Card:hover > .Card-Main {
    z-index: -2;
    margin-top: 30px;
    margin-left: 30px;

}
.Card:hover > .Card-Shadow-1 {
    display: none;
}

.Card:hover > .Card-Shadow-2 {
    display: none;
}
